


@model IEnumerable<APIMVCTask.Models.Regulation>

@{
    ViewBag.Title = "APIMVCTask";
}

<h2>index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.org_id)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_website)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.document_link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.org_id)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_website)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.document_link)
        </td>

    </tr>
}

</table>
